%ul.chat-messages
	%div.rightcontent--content-speaker
		= message.user.name
	%div.rightcontent--content-timestamps
		= message.created_at
	%div.rightcontent--content-talk
		= message.body
	- unless message.image.blank?
		%div.image
			= image_tag message.image, class: "large-img"
