%body
.leftcontent
 .leftcontent--header
  %p.leftcontent--header-user-name Hiro
  %div.leftcontent--header-right-box
   .fa.fa-pencil-square-o{"aria-hidden" => "true"}
   .fa.fa-cog{"aria-hidden" => "true"}
 .leftcontent--bottom
  %p.leftcontent--bottom-group-name チャット
  %p.leftcontent--bottom-group-talk こんにちは
  %p.leftcontent--bottom-group-name チャット２
  %p.leftcontent--bottom-group-talk こんばんは
.rightcontent
 .rightcontent--header
  %p.rightcontent--header-name sampleグループ
  %p.rightcontent--header-members kobayashi hironori
  %div.rightcontent--header-edit
   %p.rightcontent--header-edit-button Edit
 .rightcontent--main
  %p.rightcontent--main-speaker kobayashi hironori
  %p.rightcontent--main-timestamps 2017/02/07 13:02
  %p.rightcontent--main-talk なるほど
  %p.rightcontent--main-speaker ひろ
  %p.rightcontent--main-timestamps 2017/02/07 11:20
  %p.rightcontent--main-talk やばい
  %p.rightcontent--main-speaker のり
  %p.rightcontent--main-timestamps 2017/02/07 13:21
  %p.rightcontent--main-talk なるほど
 .rightcontent--footer
  %div.rightcontent--footer-form
   %p.rightcontent--footer-form-text type a message
   .fa.fa-picture-o{"aria-hidden" => "true"}
  %div.rightcontent--footer-button
   %p.rightcontent--footer-button-send Send