%body
.leftcontent
	.leftcontent--header
		%p.leftcontent--header-user-name
			= current_user.name
		%div.leftcontent--header-right-box
			= link_to new_group_path do
				.fa.fa-pencil-square-o{"aria-hidden" => "true"}
			= link_to edit_user_registration_path(current_user.groups) do
				.fa.fa-cog{"aria-hidden" => "true"}
	.leftcontent--bottom
		= render @groups
.rightcontent
	.rightcontent--header
		%p.rightcontent--header-name sampleグループ
		%p.rightcontent--header-members kobayashi hironori
		%div.rightcontent--header-edit
			%p.rightcontent--header-edit-button Edit
	.rightcontent--main
		%p.rightcontent--main-speaker kobayashi hironori
		%p.rightcontent--main-timestamps 2017/02/07 13:02
		%p.rightcontent--main-talk なるほど
		%p.rightcontent--main-speaker ひろ
		%p.rightcontent--main-timestamps 2017/02/07 11:20
		%p.rightcontent--main-talk やばい
		%p.rightcontent--main-speaker のり
		%p.rightcontent--main-timestamps 2017/02/07 13:21
		%p.rightcontent--main-talk なるほど
	.rightcontent--footer
		%div.rightcontent--footer-form
			%p.rightcontent--footer-form-text type a message
			.fa.fa-picture-o{"aria-hidden" => "true"}
		%div.rightcontent--footer-button
			%p.rightcontent--footer-button-send Send
