.leftcontent{
  height: 100%;
  width: 300px;
  float: left;
  background-color: $leftcontent-body;
  overflow-y: auto;

  &--header{
    height: 100px;
    background-color: $leftcontent-header;
    position: relative;
    position: fixed;
    width: 300px;

    &-user-name{
      padding:35px 20px;
      color: white;
      font-size: 16px;
      font-weight: bold;
      width: 200px;
    }

    &-right-box{
    position: absolute;
    right: 0;
    top: 0;
    padding:35px 20px;
    width: 50px;
    height: 20px;

      .btn-group1{
        float:left;

        .fa.fa-pencil-square-o{
          color: white;
          font-size: 20px;
        }
      }

      .btn-group2{
        float:right;

        .fa.fa-cog{
        color: white;
        font-size:20px;
        }
      }
    }
  }

  &--bottom{
    padding: 0 20px;
    height: 100%;
    font-size: 15px;
    color: #FFFFFF;
    margin-top: 100px;

    &-group-talk{
      font-size: 11px;
      color: #FFFFFF;
      padding:0 40px 0 0;
    }
  }
}
